* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ============================= */
[class*="__container"] {
  --container-width: 800px;
  max-width: calc(var(--container-width) + 40px);
  padding: 0 20px;
  margin: auto;
}

.locked {
  overflow: hidden;
}

* {
  font-family: "Montserrat";
  color: #fff;
  font-size: 20px;
}

/* ============================= */

.wrapper {
  background: linear-gradient(
    196.82deg,
    #348975 11.6%,
    #1a735e 49.88%,
    #26584c 90.62%
  );
  min-height: 100vh;
  padding: 0 0 100px 0;
}

header {
  min-width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;

  --header-height: 100px;
  height: var(--header-height);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  font-family: "Nanum Brush Script", cursive;
  font-style: normal;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  padding: 20px 0 0 0;
}

.main__start {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input,
.button {
  border: 2px solid #ffffff;
  border-radius: 60px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.button {
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main__input::placeholder {
  font-style: normal;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.main__button {
  font-weight: 600;
}

.main__input,
.main__button {
  width: 200px;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.test__questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 100%;
}

.question__img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.question__answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.finish-button {
  margin-top: 20px;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  padding: 0 0 0 3px;
}

input[type="checkbox"]:checked::before {
  content: url("/img/check.png");
  color: #fff;
}
